.btn-sm{
	padding: 4px 10px !important;
	width: 5em;
}
.action-icon{
	padding: 2px 6px !important;
}
.btn i{
	margin-right: 0px !important;
}
.invalid-select{
	display: block;
}

.select-with-border {

	border: 1px solid #aaa !important;

}
.unreadNote{
	background-color: #e5e5e5;
}
.important{
	color: red;
}
.tab_style{
	font-size: 1.2em;
	padding: 0.9em 0;
	text-decoration: none;
}
a{
  color: white;
}
.card-header-text{
	font-size: 1.3em;
}
.fontSize{
	font-size: 1.2em;
}

